<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Food Tracker | Add Food</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/theme.css') }}" rel="stylesheet">

  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Food Tracker</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#">Home</a></li>
            <li class="active"><a href="#">Add Food Item</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container theme-showcase col-sm-6 col-sm-offset-3" role="main">

      <div class="row">
        <div>

          <div class="panel panel-primary">

            <div class="panel-heading">
              <h3 class="panel-title">Foods</h3>
            </div>

            <div class="panel-body">

              <form method="POST" action="{{ url_for('_food') }}">
                <div class="form-group">
                  <label for="food-name">Food Name</label>
                  <input type="text" name="food" class="form-control" id="food-name" placeholder="Food Name">
                </div>
                <div class="form-group">
                  <label for="protein">Protein</label>
                  <input type="number" name="protein" class="form-control" id="protein" placeholder="Protein">
                </div>
                <div class="form-group">
                  <label for="carbohydrates">Carbohydrates</label>
                  <input type="number" name="carbs" class="form-control" id="carbohydrates" placeholder="Carbohydrates">
                </div>
                <div class="form-group">
                  <label for="fat">Fat</label>
                  <input type="number" name="fat" class="form-control" id="fat" placeholder="Fat">
                </div>
                <div class="form-group">
                  <input type="hidden" name="add" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">Add</button>
              </form>

              <div class="page-header"></div>

              {% for food_element in food %}
              <ul class="nav nav-pills" role="tablist">
                <li class="active"><a>{{ food_element["name"] }}</a></li>
                <li><a>Protein: <span class="badge">{{ food_element["protein"] }}</span></a></li>
                <li><a>Carbohydrates: <span class="badge">{{ food_element["carbohydrates"] }}</span></a></li>
                <li><a>Fat: <span class="badge">{{ food_element["fats"] }}</span></a></li>
                <li><a>Calories: <span class="badge">{{ food_element["calories"] }}</span></a></li>

                <form method="POST" action="{{ url_for('_food') }}">
                  <input type="hidden" name="delete" value="{{ food_element['name'] }}" class="form-control">
                  <button type="submit"  class="btn btn-danger">Remove</button>
                </form>
              </ul>
              <br>
              {% endfor %}

            </div>

          </div>
        </div>
      </div>

    </div>

  </body>

</html>