{% extends 'base.html' %}

{% block title %}
Food Tracker | Day Details
{% endblock %}

{% block content %}
    <div class="container theme-showcase col-sm-6 col-sm-offset-3" role="main">

      <div class="row">
        <div>
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">{{ date }}</h3>
            </div>

            <div class="panel-body">

              <form method="POST" action="/">
                <div class="form-group">
                  <select class="form-control">
                    {% for food in food_list %}
                    <option>{{ food.name }}</option>
                    {% endfor %}
                  </select>
                </div>

                <button type="submit" class="btn btn-primary">Add</button>

              </form>

              <div class="page-header"></div>

              <ul class="nav nav-pills" role="tablist">
                <li class="active"><a>Total</a></li>
                <li><a>Protein: <span class="badge">{{ daily_food | sum(attribute='protein') }}</span></a></li>
                <li><a>Carbohydates: <span class="badge">{{ daily_food | sum(attribute='carbohydrates') }}</span></a></li>
                <li><a>Fat: <span class="badge">{{ daily_food | sum(attribute='fats') }}</span></a></li>
                <li><a>Calories: <span class="badge">{{ daily_food | sum(attribute='calories') }}</span></a></li>
              </ul>

            </div>

            <div class="page-header"></div>

            {% for f in daily_food %}
            <div class="panel-body">
              <ul class="nav nav-pills" role="tablist">
                <li class="active"><a>{{ f.name }}</a></li>
                <li><a>Protein: <span class="badge">{{ f.protein }}</span></a></li>
                <li><a>Carbohydates: <span class="badge">{{ f.carbohydrates }}</span></a></li>
                <li><a>Fat: <span class="badge">{{ f.fats }}</span></a></li>
                <li><a>Calories: <span class="badge">{{ f.calories}}</span></a></li>
              </ul>
            </div>
            {% endfor %}

          </div>
        </div>
      </div>
    </div>
{% endblock %}